h4.my-4 Пример файла, заполненый тестовыми данными
= link_to 'Скачать пример калибровочных данных', 'example.xlsx', target: '_blank'

= link_to 'Скачать пример экспериментальных данных', 'example.xlsx', target: '_blank'